<div class="body">

  <div class="center">

    <br><br><br><br><br>
    <h1>Click on the <span>tesseract</span> to rotate it in a random direction</h1>
  
    <div class="container">
        <div class="cubo">
  
            <!--adelante-->
            <div class="a"></div>
            <!--atras-->
            <div class="a"></div>
            <!--izquierda-->
            <div class="a"></div>
            <!--derecha-->
            <div class="a"></div>
            <!--arriba-->
            <div class="a"></div>
            <!--abajo-->
            <div class="a"></div>
  
            <div class="cubo2">
                <!--adelante-->
                <div></div>
                <!--atras-->
                <div></div>
                <!--izquierda-->
                <div></div>
                <!--derecha-->
                <div></div>
                <!--arriba-->
                <div></div>
                <!--abajo-->
                <div></div>
  
            </div>
  
        </div>
  
        
    </div>
  </div>

</div>